@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

:root {
  padding: 0 160px;
  --background: #fff1df;
  --foreground: #171717;
  --primary:#1f2456;
  --secondary:#e24a4a;
  --secondary-hover:#f47373;
  --accent: #f8951d;
  --tertiary:#cdc6fe;
  --accent-hover: #f8a827;
  --gradient: linear-gradient(30deg, rgb(233, 7, 7) 12%, rgb(236, 99, 2) 48%, rgb(222, 0, 78) 68%, rgb(29, 5, 124) 103%);
}

/* 🟡 Style Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  background: rgba(0, 0, 0, 0.6) !important;
  border-radius: 100%;
  width: 40px;
  height: 20px;
  position: absolute;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  z-index: 10;
}

.swiper-button-prev {
  left: 2px !important;
}

.swiper-button-next {
  right: 2px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: var(--accent);
  font-weight: bold;
}


@media screen and (max-width: 1024px){
  :root {
    padding: 0 32px;
  }
  
}


@media screen and (max-width: 768px){
  :root {
    padding: 0 16px;
  }
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff1df;
    --foreground: #ededed;
  }
}

h1{
  font-family: 'EB Garamond', serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary);
}

h2{  
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
}

h3{
  font-family: 'EB Garamond', serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Nunito', sans-serif;
}

svg{
  display: inline-block;
  height:auto;
  width:1.5rem;
}
