.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff1df;
  }

  .project__card {
    background-color: var(--accent);
    color: var(--background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    overflow: hidden; 
    transition: box-shadow 0.3s ease; 
  }
  
  .project__card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    background-color: var(--accent-hover);
  }
  
  .container {
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
  }
  
  .title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .project-card {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .project-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .project-thumbnail {
    width: 100%;
    height: 200px; /* Adjusted height to make the thumbnail more consistent */
    object-fit: cover;
  }
  
  .project-details {
    padding: 1rem;
  }
  
  .project-title {
    font-size: 1.125rem;
    font-weight: 600;
  }
  