@media (hover) {
    .hoverEffect:hover ul > * {
        opacity: 0.25;
        transform: scale(0.95);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .hoverEffect:hover ul > *:hover {
        opacity: 1;
        transform: scale(1.05);
    }
}