.greeting{
    font-size:4rem;
    color:#1f2456;
    font-family: 'EB Garamond', serif;
    font-weight: 800;
}

.description{
    font-size:1.5rem;
    color:var(--primary);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-bottom:1.5rem;
}

.span{
    font-weight: bold;
    color: var(--secondary);
}

.logo{
    margin: 50px auto;
    width:auto;
    height:auto;
}

.button__left{
    padding:0.75rem 1.5rem;
    border-radius: 9999px;
    background: rgb(249,32,32);
    background: linear-gradient(30deg, rgb(233, 7, 7) 12%, rgb(225, 98, 7) 48%, rgb(222, 0, 78) 68%, rgb(0, 26, 255) 120%);
    color:antiquewhite;
    font-weight: 700;
    font-size:1.2rem;
    margin-right:1rem;
}

.button__right{
    padding:0.75rem 1.5rem;
    border-radius: 9999px;
    background-color: transparent;
    color:var(--primary);
    font-weight: 700;
    font-size:1.2rem;
    border: 2px solid var(--accent);
}

.goArrow{
    stroke-width: 1;
}

.button__left:hover{
    background-color: var(--accent-hover);
}

.button__right:hover{
    background-color:antiquewhite;
}

/*phone size*/
@media screen and (max-width: 768px){
    .greeting{
        font-size:3rem;
        line-height: 1.2;
        margin-bottom: 5%;
        text-align: center;
    }
    .description{
        font-size:1.2rem;
        text-align: center;
    }
    
    .buttons{
        display:flex;
        flex-direction:column;
        align-items:stretch;
        justify-content: center;
    }

    .button__left,
    .button__right{
        font-size:1.2rem;
        margin: 0;
        margin-bottom:1rem;
    }
}