.nextButton{
    padding:0.75rem 7.5rem;
    border-radius: 9999px;
    background: var(--gradient);
    color:antiquewhite;
    font-weight: 700;
    font-size:1.2rem;
    margin-top:3rem;
    transition: background 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
}

.nextButton:hover{
    filter: brightness(110%);
}

@keyframes moveDiagonal {
  0% { transform: translate(0, 0); }
  50% { transform: translate(5px, -5px); } 
  100% { transform: translate(0, 0); }
}

.nextArrow {
  display: inline-block;
  animation: moveDiagonal 2s infinite ease-in-out; 
  vertical-align: middle; 
  stroke-width: 1;
}

.nextProject{
  display: flex;
  justify-content: center;
  align-items: center;
}