
.mainContainer {
    background-color: #fff1df;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  
  .contentContainer {
    margin: 0 auto;
    padding: 40px 4rem;
    max-width: 100%;
  }

  .brandIcon{
    margin-top:1rem;
    width: 8rem;
    height: auto;
  }
  
  /* Project title */
  .sectionContainer{
    margin-bottom: 2rem;
  }

  .project__primaryTitle {
    display:flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }


  .projectTitle {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  
 .project__subtitle{
    font-size: 1.5rem;
    color: var(--secondary);
  }
  
  /* Project details container */
  .projectDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    margin-top: 40px;
    align-items: center;
  }

  .projectDetailsFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .casestudy__section{
    margin-bottom: 5rem;
  }
  
  /* Left column for large image */
  .leftColumn {
    max-width: 100%;
  }
  
  .largeImage {
    /* width: 100%;
    height: auto; */
    height:max-content;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Right column for project details */
  .sections{
    margin-bottom:0.5rem;
  }

  .rightColumn {
    max-width: 100%;
  }
  
  .infoTitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.1rem;
  }

  .ovewviewTitle {
    font-weight: bold;
    padding-bottom: 0.1rem; 
    border-bottom: 1px solid var(--accent);
    display: inline-block; 
    width: 100%; 
  }

  .overviewDetails{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin: 5rem 0;
  }

  .sectionTitle {
    font-weight: bold;
    margin-bottom: 1.5rem;
    padding-bottom: 0.1rem; 
    display:flex;
    gap: 0.5rem;
  }

  .takeAway {
    font-weight: bold;
    text-align: center;
    padding-top:4rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.1rem; 
    border-top: 1px solid var(--accent);
    display: inline-block; 
    width: 100%; 
  }
  
  .quotes{
    text-align:center;
    font-size: 1.8rem;
    color: var(--secondary);
    font-family: eb-garamond;
    margin-bottom: 5rem;
    padding-bottom: 4rem; 
    border-bottom: 1px solid var(--accent);
    display: inline-block; 
    width: 100%; 
  }
  
  .quotation{
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 0.5rem;
  }

  .projectSummary {
    font-size: 1.2rem;
    line-height: 1.25;
    text-wrap: wrap;
  }

  .textJustify{
    text-align: justify;
  }

  .numberList{
    list-style-type: decimal;
    margin: 0 0 0.8rem 2rem;
    text-align: justify;
  }
  
  .skillsList {
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 1.5rem;
    font-size: 1.2rem;
  }

  .skillsItem{
    font-size: 1rem;
    background-color: var(--accent);
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    margin-top: 0.5rem;
    font-weight: 500;
  }

  .viewOnline{
    margin: 1.5rem 0 0 0;
  }

  .button__right{
    padding:0.55rem 0.2rem;
    border-radius: 9999px;
    background: var(--gradient);
    font-weight: 600;
    font-size:1rem;
    transition: transform 0.2s ease, background-color 0.2s ease;
    gap:2rem;
}

.large_button{
  font-size:1.5rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.goArrow{
  stroke-width: 1;
  margin-left:0.5rem;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.downArrow{
 text-align: center;
 color: var(--accent);
 width: 3rem;
 height:auto;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 8rem;
 animation: bounce 1.5s infinite ease-in-out;
}

.designIcon{
  width: 2.3rem;
  height: auto;
  margin-left: 0.5rem;
}

.designIcon__small{
  width: 1.8rem;
  height: auto;
  margin-left: 0.5rem;
}

.bookOpen{
  width:35px;
  height:35px;
}
  
  /* Additional project images */
  .additionalImages {
    width:100%;
    height:auto;
  }
  
  .imagesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    margin-top: 30px;
  }

  .additionalImages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem;
  }

  .projectImage_Special{
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .projectImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .projectName{
    font-weight: bold;
    color: var(--secondary);
  }
  
  .link{
    font-style:italic;
  }

  .link:hover{
    color: var(--accent);
    text-decoration: underline var(--accent);
  }

  .colorImage{
      width: 80%;
      height: auto;
      border-radius: 8px;
  }

  .nextButton{
    padding:0.75rem 7.5rem;
    border-radius: 9999px;
    background: var(--gradient);
    color:antiquewhite;
    font-weight: 700;
    font-size:1.2rem;
    margin-top:3rem;
    transition: background 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; 
}

.nextButton:hover{
    filter: brightness(110%);
}

.nextArrow{
  vertical-align: middle; 
}

.nextProject{
  display: flex;
  justify-content: center;
  align-items: center;
}

  @media screen and (max-width: 1628px){

    .project__primaryTitle{
      text-align: center;
      font-size: 2rem;
    }
    .contentContainer {
      padding: 40px 16px;
    }

    .skillsItem{
      font-size: 1rem;
      padding: 0.4rem 0.4rem;
      margin-top: 1rem;
    }

    .leftColumn{
      order: -1;
    }
  }

  @media screen and (max-width: 1588px){
    .button__right{
      font-weight: 400;
      font-size:0.8rem;
      transition: transform 0.2s ease, background-color 0.2s ease;
    }
    .skillsItem{
      font-size: 0.8rem;
      padding: 0.4rem 0.4rem;
      margin-top: 0.8rem;
    }
}

@media screen and (max-width: 1454px){
  .button__right{
    font-weight: 300;
    font-size:0.7rem;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }
  .skillsItem{
    font-size: 0.7rem;
    padding: 0.4rem 0.4rem;
    margin-top: 0.8rem;
  }
}

@media screen and (max-width: 1340px){
  .button__right{
    font-weight: 500;
    font-size:1.2rem;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding:0.55rem 0.25rem;
  }

  .goArrow{
    padding-left:0.2rem;
  }

  .skillsItem{
    font-size: 1rem;
    padding: 0.4rem 0.4rem;
    margin-top: 0.8rem;
  }

  .projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* .leftColumn, .rightColumn {
    width: 100%;
    text-align: center;
    order: -1;
} */

}

  @media screen and (max-width: 1024px){

    .project__primaryTitle{
      text-align: center;
      font-size:2.3rem;
      margin-bottom:1rem;
    }
  
    .leftColumn {
      /* margin-bottom: 40px; */
    }

    .largeImage {
      width: 100%;
      height: auto;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .sections{
      margin-bottom:0.75rem;
    }

    .brandIcon{
      margin-top:0.75rem;
      margin-bottom:0.75rem;
      width: 10rem;
    }

    .projectSummary {
      font-size: 1rem;
      line-height: 1.25;
      text-align: justify;
    }

    .infoTitle {
      font-size: 1.25rem;
      font-weight: bold;
    }
    
    .button__right{
      font-size:0.75rem;
      font-weight:500;
    }

    .viewOnline{
      margin: 1.5rem 0;
    }

    .sectionTitle{
      font-weight: bold;
      margin-bottom: 1.2rem;
      font-size:2rem;
      display:flex;
      align-items: center;
      justify-content: center;
    }

    .skillsItem{
      font-size: 0.65rem;
      padding: 0.3rem 0.8rem;
    }

  }

@media screen and (max-width: 768px){

  .contentContainer {
    margin: 0 auto;
    padding: 20px 8px;
    max-width: 1200px;
  }

  .project__primaryTitle {
    font-size:1.2rem;
    text-align: center;
  }
  
 .project__subtitle{
    font-size: 1rem;
    color: var(--secondary);
  }

  .bookOpen{
    width:25px;
    height:25px;
  }
  
  .leftColumn {
      margin-bottom: 0px;
  }

  .projectDetails {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
      margin-top: 10px;
  }

  .rightColumn {
    margin-top:1rem;
    gap:calc(1rem + 1vw);
  }

  .infoTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .projectSummary {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }

  .button__right{
    font-weight: 600;
    font-size:0.8rem;
  }

  .skillsItem{
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
  
  .overviewDetails{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px){

  .contentContainer {
    margin: 0 auto;
    padding: 20px 8px;
    max-width: 1200px;
  }

  .project__primaryTitle {
    font-size:1.2rem;
    text-align: center;
  }
  
 .project__subtitle{
    font-size: 1rem;
    color: var(--secondary);
  }

  .bookOpen{
    width:25px;
    height:25px;
  }
  
  .leftColumn {
      margin-bottom: 0px;
  }

  .projectDetails {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
      margin-top: 10px;
  }

  .rightColumn {
    margin-top:1rem;
    gap:calc(1rem + 1vw);
  }

  .infoTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .projectSummary {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }

  .button__right{
    font-weight: 600;
    font-size:0.68rem;
  }

  .skillsItem{
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
  }
  
  .overviewDetails{
    grid-template-columns: 1fr;
  }
}