
.mainContainer {
    background-color: #fff1df;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  
  /* Content container */
  .contentContainer {
    margin: 0 auto;
    padding: 40px 20px;
    max-width: 1200px;
  }
  
  /* Project title */
  .project__primaryTitle {
    display:flex; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .projectTitle {
    text-align: center;
  }
  
 .project__subtitle{
    font-size: 1.5rem;
    color: var(--secondary);
  }
  
  /* Project details container */
  .projectDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5em;
    margin-top: 40px;
  }
  
  /* Left column for large image */
  .leftColumn {
    max-width: 100%;
  }
  
  .largeImage {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Right column for project details */
  .rightColumn {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .sectionTitle {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .projectSummary {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
  }
  
  .skillsList {
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
  }

  .skillsItem{
    background-color: var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }

  .viewOnline{
    margin: 20px 0;
  }

  .button__right{
    padding:0.7rem 0.2rem;
    border-radius: 9999px;
    background: var(--gradient);
    font-weight: 700;
    font-size:1.2rem;
}

.goArrow{
  stroke-width: 1;
}

.bookOpen{
  width:35px;
  height:35px;
}
  
  /* Additional project images */
  .additionalImages {
    margin-top: 60px;
  }
  
  .imagesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    margin-top: 30px;
  }
  
  .projectImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  @media screen and (max-width: 1024px){
  
    .leftColumn {
      /* margin-bottom: 40px; */
    }

    .projectDetails {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2em;
      margin-top: 40px;
    }

    .projectSummary {
      font-size: 1rem;
      line-height: 1.25;
      text-align: justify;
    }

    .sectionTitle {
      font-size: 1.25rem;
      font-weight: bold;
    }
    
  }

@media screen and (max-width: 768px){

  .contentContainer {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1200px;
  }

  .project__primaryTitle {
    font-size:1.5rem;
    text-align: center;
  }
  
 .project__subtitle{
    font-size: 1rem;
    color: var(--secondary);
  }

  .bookOpen{
    width:25px;
    height:25px;
  }
  
  .leftColumn {
      margin-bottom: 0px;
  }

  .projectDetails {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.5rem;
      margin-top: 10px;
  }

  .rightColumn {
    margin-top:1rem;
    gap:calc(1rem + 1vw);
  }

  .sectionTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .projectSummary {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
  }

  .button__right{
    font-weight: 600;
    font-size:1rem;
}
  
  
}